@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.global-name {
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centrer horizontalement */
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 200px;
    margin-top: 100px;
}

.home-container h1 {
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-weight: 300;
}

.items-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-height: 500px;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: #EAE9E4;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin: 0 10px; /* Espacement entre les items */
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item-title {
    font-size: 1.5em;
    font-weight: 300;
}

.item:first-child {
    margin-left: 0; /* Supprimer la marge gauche du premier item */
}

.item:last-child {
    margin-right: 0; /* Supprimer la marge droite du dernier item */
}

.image-home {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.item-button {
    display: flex;
    cursor: pointer;
    height: 30px;
    border-radius: 6px;
    background-color: #52A332;
    border-color: transparent;
    color: white;
    padding: 15px;
    font-size: 1em;
    align-items: center;
    margin-bottom: 50px;
}

.item-button:hover {
    background-color: #3C8B27;
    text-decoration: underline;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #EAE9E4;
    border-radius: 5px;
    text-align: center;
    margin: 0; /* Espacement entre les items */
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    color: #3C8B27;
    overflow: hidden; /* Masque tout contenu qui dépasse du conteneur */
    position: relative;
    margin-top: 50px;
}

.card:nth-child(1){
    margin-right: 10px;
}

.card:nth-child(3){
    margin-left: 10px;
}

.card-image-container {
    width: 100%;
    height: 350px;
    overflow: hidden; /* Masque tout contenu qui dépasse du conteneur */
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Ajoute une transition pour l'effet de zoom */
}

.card-image:hover {
    transform: scale(1.1); /* Applique un zoom de 10% au survol */
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.5em;
    font-weight: 300;
}

.card-subtitle {
    color: black;
}

.card:hover {
    color: black;
    cursor: pointer;
}
