/* Importation des polices et styles globaux */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

header {
  position: relative;
}

.top-block {
  background-color: #EAE9E4;
  width: 100%;
  height: 50px;
  transition: opacity 0.3s ease-out, height 0.3s ease-out;
}

.top-block.hidden {
  opacity: 0;
  height: 0;
}

.top-block.hide {
  display: none;
}

.nav-container {
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.nav-container.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-container.fixed.small {
  height: 70px;
}

.nav-container.fixed.small::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  border-bottom: 0.5px solid lightgray;
}

.nav-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  position: relative;
}

.nav-content.small {
  height: 50px;
  padding: 10px;
}

.nav-content.small .nav-logo {
  transform: scale(0.8);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav-list li:nth-child(4) a {
  padding-right: 0;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: #999999;
  padding: 15px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.62px;
}

.nav-list a:hover {
  border-bottom: 2px solid #52AE32;
}

.nav-list a.active {
  border-bottom: 2px solid #52AE32;
}

.nav-logo {
  height: 80%;
  transition: transform 0.2s ease;
  transform-origin: center; /* Centre le logo */
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

/* Styles spécifiques pour les écrans de moins de 650px */
@media (max-width: 650px) {
  .top-block {
    display: none;
  }

  .nav-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-content.small {
    width: 90%;
  }

  .menu-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    z-index: 999;
  }

  .nav-list.open {
    display: flex;
  }

  .nav-list li {
    width: 100%;
    text-align: left;
  }

  .nav-list a {
    padding: 15px 20px;
    width: 100%;
    display: block;
  }

  .nav-logo {
    width: 50px;
    height: 50px;
  }

  .nav-list a.active {
    border-bottom: 2px solid #52AE32;
    width: 90%;
  }

  
}
